


.overflow-hidden-body {
  overflow: hidden;
}
  

  .showToTop{
    opacity: 1;
    visibility: visible;
  }

  .fixed{
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #fff;
    transition: all linear .5s;
  }

  .border-bottom {
     border-bottom: 1px solid #F2F2F2;
  }


  
.fixedset {
    top: -150px;
    transition: all linear .5s;
  }

  .categories , .general-sec , .clients-reviews{
    .swiper-pagination-bullet-active{
      background-color: $main-color;
      opacity: 1;
    }
  }
  






.d-block{
  display: block;
}
.d-none{
  display: none;
}


.fixed-header{
  // border-bottom: 1px solid #F2F2F2;
  .main-nav{
    padding: 8px 0px;
  }

  .logo img {
    height: 60px;
  }
  @include min-992{
    .li-drop > a{
       line-height: 35px;
     }
   }
   
}



  
@include max-768 {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
      padding-right: 20px;
      padding-left: 20px;
    }
    .fixed-whatsapp{
      width: 50px;
      height: 50px;
      i {
        font-size: 30px;
      }
    }
    .toTop{
      right: 25px;
      bottom: 85px;
    }
   
  }


  


  
@include min-1200{
    .container, .container-lg, .container-md, .container-sm, .container-xl{
      max-width: 1170px;
    }
  }

  
  